---

---

<div class="flex items-center justify-between px-8 py-3.5">
	<a href="/" class="text-4xl text-[#974199] font-bold">Blog Site</a>

	<div class="lg:flex items-center space-x-3.5 hidden">
		<a href="/about" class="text-[#974199] hover:text-gray-800">About</a>
		
        <a href="/blog" class="text-gray-700 hover:text-blue-800">Blog</a>
		<a href="/contact-us" class="text-[#974199] hover:text-gray-800"
			>Contact Us</a
		>
	</div>

</div>
